@import url('https://fonts.googleapis.com/css?family=Poller+One|Raleway');

html {
    padding: 0 !important;
    margin: 0 !important;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Raleway', 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #F3E2AF;
    animation: colorchange 20s infinite;
    background-size: cover;
    background-repeat: no-repeat;
}
h1, h2, h3 {
    font-family: 'Poller One', cursive;
}

h1 {
    font-size: 30px;
}

img {
}

.sparkle {
    font-size: 8em;
    font-family:impact;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
    url(http://www.myspacehippo.com/files/glitterbacks/bg345.gif) repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
}

.hippy-bg {
    background: linear-gradient(341deg, #13c597, #134d3e, #d2f900, #d80cee, #ee0c46, #fd00dd);
    background-size: 1200% 1200%;
    animation: trippy 16s ease infinite;
}

.wobble-element {
  animation: wobble infinite 1.5s linear;
}

@keyframes trippy {
    0%{background-position:0% 5%}
    50%{background-position:100% 96%}
    100%{background-position:0% 5%}
}

@keyframes colorchange {
    0%   {background: red;}
    25%  {background: yellow;}
    50%  {background: blue;}
    75%  {background: green;}
    100% {background: red;}
}

@keyframes wobble {
  0% {transform:rotate(20deg);}
  50% {transform:rotate(-20deg);}
  100% {transform:rotate(20deg);}
}
